/* Start Glopal Rules */
/* Start variable */
:root{
    --maincolor:#7b5244;
    --sectioncolor:#333;
    --sectiontrans:0.7s;
}
/* End variable */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.container{
margin: 0px auto;
padding: 0px 15px;
}

@media (min-width:768px){
    .container{
        width: 720px;
     }
}

@media (min-width:992px){
    .container{
        width: 960px;
     }
}

@media (min-width:1200px){
    .container{
        width:1140px;
     }
}

.section-header{
    text-align: center;
    padding: 40px 0px;
    position: relative;

}

.section-header::after{
    content: '';
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    left: 50%;
    width: 30px;
    height: 2px ;
    background-color: black;
    transition: width 0.6s;
}

.section-header:hover::after{
    width: 80px;
}

.section-header h1{
    text-transform: capitalize;
    
}


/* End Glopal Rules */
/* Start header */

header{
    padding: 20px 0px;
    height: 60px;
    margin-bottom:15px;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 header .header-content img{
margin: 0px 5px;
max-width: 150px;
} 

header .header-content nav{
    flex: 1;

}



header .header-content nav ul li {
display: inline-block;


}

header .header-content nav ul li a{
    display: block;
    padding: 10px 25px;
    position: relative;

}

header .header-content nav ul li a::before{
content: '';
position: absolute;
border-width: 0px 2px;
border-style: solid;
border-color: var(--maincolor);
left: 0px;
bottom:0;
width: 100%;
height: 100%;
transition:var(--sectiontrans) ;
transform: scale3d(1,0,1);
}

header .header-content nav ul li a:hover::before{
    transform: scale3d(1,1,1);
}

header .header-content nav ul li a::after{
    content: '';
    position: absolute;
    border-width: 2px 0px;
    border-style: solid;
    border-color: var(--maincolor);
    width: 103%;
    height: 94%;
    left: 0px;
    top:0px;
    transform-origin: left;
    transition: var(--sectiontrans);
    transform: scale3d(0,1,1);
}

header .header-content nav ul li a:hover::after{
    transform: scale3d(1,1,1);
    transition-delay: 0.4s;
}




 header .header-content nav ul li a , .login ul li {
color: var(--sectioncolor);
text-transform: capitalize;
font-weight: bold;

} 




header .header-content .login ul li{
    margin: 0px 5px;
    display: inline-block;
}

header .header-content .login ul li:last-child i{
    margin-right: 9px;
    position: relative;

}

header .header-content .login ul li:last-child i::after{
    position: absolute;
    content: '0';
    padding: 7px;
    background-color: var(--maincolor);
    font-size: 9px;
    color: white;
    border-radius: 50%;
    right: -9px;
    bottom: -13px;
}


/* hover header */

/* Drop down */
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    top: 55px;
    background-color: white;
    border: 2px solid var(--maincolor);
    width: 500px;
    transition: transform 0.5s , visibility 0.5s , opacity 0.5s;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.dropdown-menu ul{
    display: table-cell;
    text-align: center;

}

.dropdown-menu ul li:first-child {
       margin: 15px 0px;
       font-weight:bold ;
       font-size: 20px;
       color: var(--maincolor);
       border-bottom: 2px solid var(--maincolor);
}

.dropdown-menu ul li:last-child{
    padding: 0px 0px 10px;
    
}

.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}


/* End header */

/* Start slider  */
.slider img{
    max-width: 100%;
    
}

.slider .img1{
    position: relative;
}


.slider .polits{
    position: absolute;
    bottom:175px;
    left: 50%;
    display: flex;
    transition: all 0.5s;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;

}

.slider:hover .polits{
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.slider .polits li{
    width: 20px;
    height: 20px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    margin-left: 5px;
}

.slider .polits li:hover{
    background-color: black;
}
/* End slider  */

/* section catogery */
.catogery{
    position: relative;
    padding: 0px 0px 40px;
}
.catogery .catogery-items{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 20px;

}
.catogery-item{
    position: relative;
    border: 2px solid var(--maincolor);

}

.catogery-item .catogery-span{
    color: gray;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}

.catogery-item .catogery-title{
    font-size: 18px;
}

.catogery-item i{
    width: 40px;
    height: 33px;
    background-color: var(--maincolor);
    color: white;
    text-align: center;
    position: absolute;
    right: 4px;
    bottom: 21px;
    border: 2px solid #aba3a3;
    opacity: 0;
    visibility: hidden;
    transition:opacity  1s ,visibility 1s;

}

.catogery-item:hover i{
    opacity: 1;
    visibility: visible;
}

.catogery-item img{
    width: 100%;
}
.pad{
    padding: 15px 10px;
}

.polit{
    position:absolute ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    
}

.polit li{    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right:5px ;
    background-color: rgb(167, 167, 167);
    transition:  transform 0.5s;
    
}

.polit li:hover{
    transform: scale(1.2);
    background-color: var(--maincolor);
}
/* discount */
.discount{
padding: 40px 0px;

}

.discount-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.discount-items .desc{
    background-color: #e4d3cc;
    padding: 20px 20px 90px;
    width: 500px;
    position: relative;
 
    
}

.discount-items .desc .politee{
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.discount-items .desc .politee span{
    display:inline-block;
    width: 50px;
    height: 2px;
 
    background-color: #333;
}

.discount-items .desc .top{
    margin-bottom: 20px;
}

.discount-items .desc .top i{
position: absolute;
left: 21px;
top: 17px;
color: var(--maincolor);
font-size: 50px;
}

.discount-items .desc .top  p{
    padding-bottom: 20px;
}

.discount-items .desc .top h3 , span{
    padding-left: 53px;
}

.discount-items .desc .top .discount-title{
    text-transform: capitalize;
    margin-bottom:5px;
}

.discount-items .desc .top .discount-subtitle{
    display: block;
    font-weight: normal;
}

.discount-item{
    position: relative;
    transition: 0.5s;
}

.discount-item .info{
    position: absolute;
    left: 28px;
    top:14px;
}

.discount-item .info h3{
    color: var(--maincolor);
    text-transform: capitalize;
}

.discount-item .info h2{
    text-transform: capitalize;

}

.discount-item:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.discount-item:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discount-item:hover{
    transform: scale(1.1);
}

/* `Sprite */
.sprite{
    padding: 50px 0px;
}
.sprite-items{
display: flex;
}

.sprite-item{
    flex: 1;
    border-right: 1px solid var(--maincolor);
    text-align: center;
}

.sprite-item:last-child{
    border: none;
}

.sprite-info h2{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.sprite-info p{
    color: gray;
    text-transform: capitalize;
}

.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 50px;
    background-repeat: no-repeat;
}

.sprite-icon1{
    background-position: center 0px;
    transition: var(--sectiontrans);
}
.sprite-icon2{
    background-position: center -183px;
    transition: var(--sectiontrans);
}

.sprite-icon3{
    background-position: center -367px;
    transition: var(--sectiontrans);
}
.sprite-icon4{
    background-position: center -551px;
    transition: var(--sectiontrans);
}
.sprite-icon5{
    background-position: center -735px;
    transition: var(--sectiontrans);
}


.sprite-item:hover .sprite-icon1{
    background-position: center -91px;
}

.sprite-item:hover .sprite-icon2{
    background-position: center -275px;
}

.sprite-item:hover .sprite-icon3{

    background-position: center -460px;
}

.sprite-item:hover .sprite-icon4{
    background-position: center -643px;
}

.sprite-item:hover .sprite-icon5{
    background-position: center -828px;
}

/* Start product */

.product .prod{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.product .prod li{
    margin: 10px 20px;
    text-transform: capitalize;

}

.product .prod li.active{
    color: var(--maincolor);
    font-weight: bold;
}

.product-img{
    position: relative;
}

.product-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition:transform var(--sectiontrans);
}


.product-img .overlay2{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale3d(0,0,1);
    opacity: 0;
    visibility: hidden;
    transition:transform var(--sectiontrans) , opacity var(--sectiontrans), visibility var(--sectiontrans);
}
.product-img .overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
}

.product-img .overlay2 ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
}

.product-img .overlay ul li{
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    margin: 0px 7px;
   border-radius: 10px;
}

.product-img .overlay2 ul li{
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    margin: 0px 7px;
   border-radius: 10px;
}

.product-img .overlay ul li i{
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 40px;

}

.product-img .overlay2 ul li i{
    display: inline-block;
    color: white;
    font-size: 20px;
    line-height: 40px;

}
.product-item:hover .overlay{
    transform:scaleX(1);
}

.product-item:hover .overlay2{
    transform:scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
}

.product-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px ;
    margin: 20px;
}

.product-item .product-info{
    /* padding: 20px 5px; */
}

.product-item .product-info i.active{
color: #c5c504;
}

.product-item .product-info span{
    display: block;
    margin: 10px -52px;
    color: gray;
}

.product-item .product-info h2 span{
    color: gray;
    display: inline-block;
    font-size: 15px;
}